layout_pipenv

#App Mode (development, staging, testing or production)
export APP_SETTINGS=development

#General
export JSON_SORT_KEYS=False
export SECRET=p455w0rd

#Database
export SQLALCHEMY_TRACK_MODIFICATIONS=False
export SQLALCHEMY_ECHO=False

#Config
export MUMMY_MONEY_INVESTMENT=500
export MUMMY_MONEY_COMMISSION=100
