[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pep8 = "*"
pylint = "*"
requests = "*"
python-dotenv = "*"
gunicorn = "*"
aiohttp = "==3.6.0"
asyncio = "*"

[requires]
python_version = "3.7"
